@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

$bright: #f5fffa;
$dark: #303030;
$darker: #202020;
$add: #29b658;
$remove: #c44949;
$selected: #2a91b3;

$font-big: 32pt;
$bold-weight: 800;
$font-normal: 16pt;
$font-small: 12pt;

$shadow-color: rgba(0,0,0,0.5);
$shadow: inset 0px 6px 4px 0px $shadow-color;
$shadow-flipped: inset 0px -6px 4px 0px $shadow-color;
$shadow-side: 6px 0px 6px 0px $shadow-color;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: $dark;
    color: $bright;
    font-family: 'Merriweather', serif;
    transition: 100ms ease all;
    font-size: $font-normal;
}

body {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.sidebar {
    display: grid;
    grid-template-rows: 12% 82% 6%;
    box-shadow: $shadow-side;
    z-index: 9999;

    .sidebarHeading {
        display: flex;
        justify-content: center;
        align-items: center;
        h1 {
            font-size: $font-big;
            font-weight: $bold-weight;
        }
    }

    .sidebarContent {
        width: 100%;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        box-shadow: $shadow-flipped;

        .blogEntry {
            height: 80px;
            width: 100%;
            display: flex;
            align-items: center;
            padding: 5px 20px;
            box-shadow: $shadow;

            span {
                background: inherit;
            }

            &:hover {
                filter: brightness(1.2)
            }

            &:active {
                filter: brightness(0.9)
            }
        }

        .selectedEntry {
            background: $selected;
        }
    }

    .sidebarControls {
        display: grid;
        grid-template-columns: 1fr 1fr;
        color: $bright;

        .addBlog {
            background: $add;
        }

        .removeBlog {
            background: $remove;
        }

        .controlButton {
            color: inherit;
            display: flex;
            justify-content: center;
            align-items: center;

            div {
                color: inherit;
                background: transparent;

                svg {
                    color: inherit;
                    background: transparent;

                    path {
                        fill: $bright;
                    }
                }
            }

            &:hover {
                filter: brightness(1.2)
            }

            &:active {
                filter: brightness(0.9)
            }
        }
    }
}

.view {
    background: $bright;
    color: $dark;
    padding: 50px;
    overflow-y: auto;
    position: relative;

    * {
        color: inherit;
        background: inherit;
    }

    div {
        margin-top: 40px;
    }

    h1 {
        font-size: $font-big;
        font-weight: $bold-weight;
    }

    p {
        font-size: $font-small;
    }
}

.edit {

    * {
        border: 3px dashed $selected;
        padding: 20px 40px;
        margin: 10px;
        border-radius: 5px;

        * {
            border: none;
        }

        &:focus {
            border: 3px solid $selected !important;
        }

        &:focus-visible {
            outline: none;
        }
    }
    $send-button-size: 70px;
    $send-button-margin: 40px;
    .send {
        border: none;
        position: fixed;
        right: 0px;
        bottom: 0px;
        min-width: $send-button-size;
        max-width: $send-button-size;
        min-height: $send-button-size;
        max-height: $send-button-size;
        padding: 0;
        margin: $send-button-margin;
        background: $selected;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            filter: brightness(1.2)
        }

        &:active {
            filter: brightness(0.9)
        }

        div {
            color: inherit;
            background: transparent;
            border: none;
            padding: 0;
            margin: 0;
            min-width: $send-button-size;
            max-width: $send-button-size;
            min-height: $send-button-size;
            max-height: $send-button-size;
            display: flex;
            justify-content: center;
            align-items: center;

            svg {
                color: inherit;
                background: transparent;
                border: none;
                padding: 0;
                margin: 0;

                path {
                    fill: $bright;
                    border: none;
                }
            }
        }
    }
}